body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    border-radius: 50%;
    height: 50px;
    width:50px;
    background-image: url('../../public/profile.jpg');
    background-size: contain;
    margin-right:2vmin;
    margin-top: 2vmin;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffc6c6;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    /* position: absolute; */
    top: 10px;
    right: 8px;
    background-color: rgb(219, 129, 129);
    height:6vmin;
    width:16vmin;
    font-size:3vmin;
    /* margin-top:2vmin; */
    border-radius: 1vmin;
}
.btn{
    display: flex;
    justify-content: space-evenly;
}