/* *{
    padding: 0px;
    margin: 0px;
} */
.bodysignup
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: #1f0910; */
    background: url('../../public/loginbg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bodysignup2
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: #1f0910; */
    background: url('../../public/loginbg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container3
{
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 0;
    padding: 2vmin;
    background-color: #21060a90;
    max-width: 95vw;
    gap:2vmin;
    width:50vw;
}

/* .pt2
{
    background: rgba(240, 234, 204, 0);
}  */

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e0c1b4;
    border-radius: 30px;
    padding:1vmin;
    color:white;
    width: 98%;
}

.inp{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 3%;  
}
.sub{
    border: none;
    outline: none;
    padding: 4%;
    width: 100%;
    background: #fad3e0;
    color: #060505;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    margin: 0% 0% 2% 0%;
    margin-bottom: 4vmin;
}

#t1
{
    padding: 2%; 
    color:rgb(0, 0, 0);
    width: fit-content;
}
a{
    color:rgb(0, 0, 0); 
    font-weight: bold;
}

.heading2{
    color: #1a1807a9;
    font-size: 8vmin;
    text-align:center;
    margin-right:6vmin;
}

.signuphead{
    color: #0b0a03a9;
    font-size: 10vmin;
    margin:0;
    text-align:center;
}

@media only screen and (max-width:300px){
    .container3{
        width: 90vw;
    }
}